

<div class="fixed md:hidden p-2 w-full bg-blue-900 text-center backdrop-blur-md bg-opacity-30">
    <button
    class="bg-yellow-300 rounded-full text-sm md:text-[16px] px-3 text-blue-500 border-blue-900 border-solid border-2 mt-1 hover:bg-blue-400 hover:text-yellow-300 lg:font-semibold"
    ><a
        href="https://www.linkedin.com/in/alexis-lopez-709965180/"
        target="_blank">Linkedin</a
    ></button
>
<button
    class="bg-yellow-300 rounded-full px-3 text-blue-500 text-sm md:text-[16px] border-blue-900 border-solid border-2 mt-1 hover:bg-blue-400 hover:text-yellow-300 lg:font-semibold"
    ><a href="https://github.com/alesl10" target="_blank"
        >GitHub</a
    ></button
>
<button
    class="bg-yellow-300 rounded-full px-3 text-blue-500 text-sm md:text-[16px] border-blue-900 border-solid border-2 mt-1 hover:bg-blue-400 hover:text-yellow-300 lg:font-semibold"
    ><a href="mailto:ale_sl10@live.com.ar" target="_blank"
        >ale_sl10@live.com.ar</a
    ></button>
</div>