<div >
    <a href="https://wa.me/1137623836" target="_blank"><img
        class=" size-16 right-4 bottom-5 fixed"
        src="../icons/whatsapp-color-svgrepo-com.svg" 
        alt="icon wp"></a>
        <div class=" text-center">
            <span class=" text-blue-300">Creado por <span class=" text-yellow-500">Alexis Lopez</span> - Casi todos los derechos reservados - 2023</span>
        </div>
        
</div>